// default legacy colors
@include notific8-ocho-theme('teal', #09c, #069);
@include notific8-ocho-theme('amethyst', #915faa, #5D2D77);
@include notific8-ocho-theme('ruby', #d10, #a10);
@include notific8-ocho-theme('tangerine', #ffb23f, #e88f00);
@include notific8-ocho-theme('lemon', #ffde00, #ffcc00, #ffde00, #333);
@include notific8-ocho-theme('lime', #38d315, #32b512);
@include notific8-ocho-theme('ebony', #666, #121212);
@include notific8-ocho-theme('smoke', #ababab, #efefef, #ababab, #333, #fff);
