// default Materialish colors

@include notific8_materialish_theme('twilight', #323232);
@include notific8_materialish_theme('lilrobot', #A4C639);
@include notific8_materialish_theme('cupcake', #FFBAD2, #323232);
@include notific8_materialish_theme('eclair', #654848);
@include notific8_materialish_theme('honeycomb', #f6e080, #323232);
@include notific8_materialish_theme('lollypop', #54b2a9);
@include notific8_materialish_theme('marshmallow', #fff8ed, #323232);
@include notific8_materialish_theme('strawberry', #BE2625);
@include notific8_materialish_theme('creamsicle', #F7BB67, #323232);
@include notific8_materialish_theme('purple-rain', #694489);
@include notific8_materialish_theme('peafowl', #1D7CF2);
