build/
src/stylus/src
karma_tests
src/less
src/stylus
src/sass-format

# ts updated options
node_modules/
.sass-cache/
scss-lint.log
.DS_Store
.tscache
coverage/
.vs
# likely to be updated later
.vscode