block notific8DemoTitle
  h1 notific8 demo
p notific8 is a highly customizable JavaScript notification plug-in. It comes with multiple themes built in. The Sass files can be included in a project for easy customizations. The plug-in also includes a jQuery wrapper for those who wish to use jQuery.
p Use the fields below to test the different options for the plug-in.
p
  | To see the
  i  onInit(data)
  | ,
  i  onCreate(notification, data)
  | , and
  i  onClose(notification, data)
  |  actions functioning, open your browser's developer tools' console view.

hr

fieldset
  legend Notification Queue
  p
    input#notific8Queue(type='checkbox', name='notific8Queue', value='1')
    label(for='notific8Queue')  Queue notifications
  div
    em Note: queuing is set for the plug-in settings and not passed in as an option on the notification. It will only be process in the first notification call.
  .input-field
    label(for='notific8QueueName') Notification Name
    input#notific8QueueName(type='text', name='notific8QueueName', size='50', maxlength='50')
  div
    em The notification name is only used when notifications are queued. If no name is passed in, a unique name is generated. The notification name is returned when a notification is created or queued.
br

block upperConfig

.input-field
  label(for='notific8Text') Notification text
  input#notific8Text(type='text', name='notific8Text', size='50', maxlength='300', value='Test notific8 notification')

p
  input#notific8Sticky(type='checkbox', name='notific8Sticky')
  label(for='notific8Sticky')  Sticky (if checked, setting life below will be ignored)
br

.input-field
  select#notific8Life(name='notific8Life')
    option(value='1000') 1 second
    option(value='5000') 5 seconds
    option(value='10000', selected='selected') 10 seconds (default)
    option(value='25000') 25 seconds
    option(value='60000') 60 seconds
  label(for='notific8Life') Life

.input-field
  label(for='notific8Heading') Heading (optional)
  input#notific8Heading(type='text', name='notific8Heading', size='50', maxlength='50')
  br
div
  em (not available in Materialish theme)

.input-field
  label(for='notific8CloseText') Close text (optional)
  input#notific8CloseText(type='text', name='notific8CloseText', size='50', maxlength='50')

.input-field
  label(for='notific8Id') Notification ID (optional)
  input#notific8Id(type='text', name='notific8Id', size='50', maxlength='50')

block lowerConfig

.input-field
  select#notific8Theme(name='notific8Theme')
    option(value='ocho', selected='') Ocho (default)
    option(value='chicchat') ChicChat
    option(value='atomic') Atomic
    option(value='materialish') Materialish
  label(for='notific8Theme') Theme

.input-field
  select#notific8Color(name='notific8Color')
    option(value='teal', data-for='ocho', data-selected='') teal
    option(value='amethyst', data-for='ocho') amethyst
    option(value='ruby', data-for='ocho') ruby
    option(value='tangerine', data-for='ocho') tangerine
    option(value='lemon', data-for='ocho') lemon
    option(value='lime', data-for='ocho') lime
    option(value='ebony', data-for='ocho') ebony
    option(value='smoke', data-for='ocho') smoke
    option(value='cobalt', data-for='chicchat', data-selected='') cobalt
    option(value='ruby', data-for='chicchat') ruby
    option(value='honey', data-for='chicchat') honey
    option(value='shamrock', data-for='chicchat') shamrock
    option(value='amethyst', data-for='atomic', data-selected='') amethyst
    option(value='cerulean', data-for='atomic') cerulean
    option(value='mustard', data-for='atomic') mustard
    option(value='onyx', data-for='atomic') onyx
    option(value='pear', data-for='atomic') pear
    option(value='tomato', data-for='atomic') tomato
    option(value='twilight', data-for='materialish', data-selected='') twilight
    option(value='lilrobot', data-for='materialish') lilrobot
    option(value='cupcake', data-for='materialish') cupcake
    option(value='eclair', data-for='materialish') eclair
    option(value='honeycomb', data-for='materialish') honeycomb
    option(value='lollypop', data-for='materialish') lollypop
    option(value='marshmallow', data-for='materialish') marshmallow
    option(value='strawberry', data-for='materialish') strawberry
    option(value='creamsicle', data-for='materialish') creamsicle
    option(value='purple-rain', data-for='materialish') purple-rain
    option(value='peafowl', data-for='materialish') peafowl
  label(for='notific8Color') Color

.row
  .col.s12.m6
    .input-field
      select#notific8horizontal(name='notific8horizontal')
        option(value='top') top (default)
        option(value='bottom') bottom
      label(for='notific8horizontal') Notification horizontal edge

  .col.s12.m6
    .input-field
      select#notific8vertical(name='notific8vertical')
        option(value='right') right (default)
        option(value='left') left
      label(for='notific8vertical') Notification vertical edge

.input-field
  label(for='notific8Namespace') CSS Namespace
  input#notific8Namespace(type='hidden', name='notific8Namespace', value='notific8')
  input#notific8NamespaceText(type='text', name='notific8Namespace', value='notific8', disabled='disable')
div
  em (default, only value available for the demo)

p
  input.with-gap(name="notific8UseJquery", type="radio", value="0", checked="Checked")#notific8UseJavascript
  label(for='notific8UseJavascript')  JavaScript&nbsp;
  input.with-gap(name="notific8UseJquery", type="radio", value="1")#notific8UseJquery
  label(for='notific8UseJquery')  jQuery

.input-field
  button.btn.pink.darken-2#notific8Test(type='button', name='notific8Test') Test notific8
