script(type='text/javascript').
  $(function () {
    var defaultHeights = {
      atomic: 70,
      chicchat: 120,
      legacy: 90
    };
    $('body').on(
      'change',
      '#notific8Theme',
      function(event) {
        $theme = $(event.currentTarget);
        theme = $theme.val();
        $color = $('#notific8Color');
        $color.find('option:selected').prop('selected', false);
        $color.find('option').hide();
        $color.find('option[data-for="' + theme + '"]').show();
        $color.find('option[data-for="' + theme + '"][data-selected]').prop('selected', true);
        $height = $('#notific8Height');
        $height.val(defaultHeights[theme]);
        $height.attr('min', defaultHeights[theme]);
      }
    );
    $('body').on('click', '#notific8Test', function (event) {
      var params = {
        life: $('#notific8Life').find('option:selected').val(),
        theme: $('#notific8Theme').find('option:selected').val(),
        color: $('#notific8Color').val(),
        sticky: $('#notific8Sticky').is(':checked'),
        horizontalEdge: $('#notific8horizontal').find('option:selected').val(),
        verticalEdge: $('#notific8vertical').find('option:selected').val(),
        namespace: $('#notific8Namespace').val(),
        height: $('#notific8Height').val(),
        onInit: function(data) {
          if (window.console) {
            console.log('--onInit--');
            console.log('data:');
            console.log(data);
          }
        },
        onCreate: function(notification, data) {
          if (window.console) {
            console.log('--onCreate--');
            console.log('notification:');
            console.log(notification);
            console.log('data:');
            console.log(data);
          }
        },
        onClose: function(notification, data) {
          if (window.console) {
            console.log('--onClose--');
            console.log('notification:');
            console.log(notification);
            console.log('data:');
            console.log(data);
          }
        }
      },
      text = $('#notific8Text').val(),
      $heading = $('#notific8Heading'),
      $closeText = $('#notific8CloseText'),
      $icon = $('#notific8Icon');
      if ($.trim($heading.val()) !== '') {
        params.heading = $heading.val();
      }
      if ($.trim($icon.val()) !== '') {
        params.icon = $icon.val();
      }
      if ($.trim($closeText.val()) !== '') {
        params.closeText = $closeText.val();
      }
      // show notification
      if ($('input[name="notific8UseJquery"]:checked').val() == "1") {
        $.notific8(text, params);
      } else {
        notific8(text, params);
      }
    });
    $('#notific8Theme').trigger('change');
  });
