doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title notific8 demo
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    link(rel='stylesheet', href='../dist/notific8.css', media='screen')
    style.
      /* override to make sure materialize teal theme doesn't trump the notific8 demo */
      .notific8-notification.ocho.teal {
        background-color: #069 !important;
      }

      [type="radio"]:checked + label:after,
      [type="radio"].with-gap:checked + label:before,
      [type="radio"].with-gap:checked + label:after {
        border: 2px solid #c2185b;
      }

      [type="radio"]:checked + label:after,
      [type="radio"].with-gap:checked + label:after {
        background-color: #c2185b;
        z-index: 0;
      }

      [type="checkbox"]:checked + label:before {
        border-right: 2px solid #c2185b;
        border-bottom: 2px solid #c2185b;
      }

      [type="checkbox"]:indeterminate + label:before {
        border-right: 2px solid #c2185b;
      }

      .dropdown-content li>span {
        color: #c2185b;
      }

      input[type=text]:focus:not([readonly]),
      input[type=number]:focus:not([readonly]) {
        border-bottom-color: #c2185b;
        box-shadow: 0 1px 0 0 #c2185b;
      }

  body
    .container
      include demo.pug

    //- script includes
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    script(src='../dist/notific8.js')
    script(src='../dist/jquery.notific8.js')

    script(type='text/javascript').
      $(document).ready(function() {
        $('select').material_select();
      });

    include demo-js.pug
