// default ChicChat colors
notific8_chicchat_theme("cobalt", #3171B2)
notific8_chicchat_theme("ruby", #a10)
notific8_chicchat_theme("honey", darken(gold, 2.5%))
notific8_chicchat_theme("shamrock", darken(yellowgreen, 5%))
